// Place all the styles related to the funds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron.charity {
  position: relative;
  background: #aaa url("https://s3-eu-west-1.amazonaws.com/scottishhalfmarathon-com/media/2017/09/27105358/Scottish-Half-Marathon-2017-charity.jpg") no-repeat right center;
  background-size: cover;
  min-height: 250px;
  margin-bottom: 0;
}
.black {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 0;
}

.jumbotron-heading.title.charity{
  left: 50%;
  top: 50%;
  margin-left: -161px;
  margin-top: -50px;
}

.container.charity-card {
  min-height: 900px;
  padding-top: 50px;
}

.c-d-btn-wrapper{
  position: absolute;
  left: 50%;
  margin-left: -74px;
  top: 50%;
  margin-top: 0px;
  z-index: 100;
}

.charity-btn {
  margin-top: 20px;
}

.card.mb-4.c-card {
  height: 390px;
}

.c-card-info{
  width: 100%;
  padding: 20px 20px;
  height: 55%;
}

.c-card .card-img-wrapper {
  padding: 30px 40px;
  height: 45%;
  border-bottom: 1px solid #DFDFDF;
}
.c-card img {
  width: 100%;
}

.c-card .card-name {
  padding-bottom: 10px;

}

.multiline-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 113px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fund-show-container {
  display: flex;
  justify-content: center;
}
.fund-show-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 70px;
  padding-bottom: 100px;
}
.fund-box {
}
.fund-logo-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.fund-logo-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;

}
.fund-info-label {
  font-weight: bold;
  font-size: 16px;
  padding-top: 25px;
}
.fund-info-content {
  font-size: 16px;
  padding-top: 7.5px;
}
.charity-donations-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 15px;
}
.fund-name-box {

}
.fund-desc-box {

}
.charity-don-number {
  font-size: 24px;
  line-height: 2.2;
  font-weight: bold;
  padding-left: 5px;

}
.charity-don-label {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.2;


}
.fund-box-button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.btn.btn-warning.fund {

}

.btn.btn-info.fund a:visited{
  color:white;
}

.btn.btn-info.fund a:hover{
  text-decoration:none;
  background-color: rgba(0,0,0,0);
}

.btn.btn-info.fund {

}
.button-funds-path {
  padding-right: 8px;

}
.button-donate-path {
  padding-left: 8px;

}
.jumbotron.jumbotron-fluid.funds {
  border-radius: 8px;
  height: inherit;
}
.container-funds {
  padding: 0;

}
