// Place all the styles related to the marathons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================================================*/
/*                  MARATHON INDEX                   */
/*===================================================*/

.jumbotron.marathon {
  position: relative;
  background: #aaa url("https://media.defense.gov/2018/Sep/15/2001966641/-1/-1/0/180915-F-AV193-1001.JPG") no-repeat right center;
  background-size: cover;
  min-height: 250px;
}

.jumbotron-heading.title.marathon{
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -50px;
}

.jumbotron.marathon p {
  width: 800px;
  color: #fff;
  z-index: 2000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 15px;
  margin-left: -400px;
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
}

span {
  display: block;
}

.card.mb-4{
  height: 310px;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-img-wrapper {
  height: 70%;
  overflow: hidden;
  border-bottom: 1px solid #DFDFDF;
}
.mara-card-info {
  padding: 21px 15px;
  height: 30%;
}

.card-name a{
  font-size: 18px;
  font-weight: bold;
}

.card-name a:hover{

}

/*===================================================*/
/*                  MARATHON INFO                    */
/*===================================================*/

.starter-template {
  padding-top: 100px;
}

.container.m {
  padding-bottom: 100px;
}

.row.marathon {
  position: relative;
}

.mara-info img {
  width: 100%;
}

.mara-info ul {
  padding-top: 20px;
}

.mara-info li {
  padding: 10px 0;
  font-size: 16px;
}

.mara-info span:nth-child(1){
  padding-bottom: 6px;
}

.mara-info span {
  font-size: 16px;
  line-height: 1.6;
}

.mara-info p {
  padding-bottom: 6px;
}

.detail {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 16px;
}

.fas.fa-chevron-left {
  font-size: 16px;
  font-weight: bold;
}

.m-btn-wrapper {
  position: absolute;
  right: 0;
  bottom: -50px;
}

.btn.btn-warning.marathon{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-right: 8px;
  margin-right: 10px;
}

.m-follow-btn {
  float: right;
}

.button_to input {
  background-color: #17a2b8;
  color: #fff;
  padding: 6px 20px 8px 20px;
  border-radius: 5px;
}
