// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================================================*/
/*                  SIGNUP                           */
/*===================================================*/

.sign-up-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.font-running{
  text-align: center;
  padding: 20px 0 40px 0;
}
.fas.fa-running{
  text-align: center;
  font-size: 70px;
}

.form-wrapper h1 {
  text-align: center;
}

.form-cont-wrapper {
  padding-top: 50px;
}

.form-row {
  padding: 5px 0;
}

.form-input input {
  width: 100% ;
}

.form-btn {
  text-align: center;
}

.form-btn input {
  background-color: #17a2b8;
  color: #fff;
  padding: 6px 15px 8px 15px;
  border-radius: 5px;
}

/*===================================================*/
/*                  PROFILE                          */
/*===================================================*/

.flex-container.row {
  padding: 100px 0;
}

.attending.row {
  background-color: #efefef;
  padding: 80px 0 100px 0;
}

.donation.row {
  padding: 80px 0;
}
.profile-wrapper{
  padding-top: 56px;
}

.profile-conts-wrapper {

}

.card {
  height: 200px;
}

.attending {
  padding-top: 50px;
}
.attending-title {
  padding: 20px ;
  margin: 0;
}

.view-btn {
  text-align: right;
}

.donation.container {
  padding-top: 50px;
}

.donation-title {
  padding: 20px;
}

.user-edit {
  padding-top: 30px;
  display: flex;
}

.edit-btn {
  display: inline;
}

.edit-btn-1 {
  margin-right: 10px;
}

.edit-btn-2 input{
  background-color: #ffc30f;
  border: 0;
}
