
  <section class="jumbotron text-center charity">
    <div class="container">
      <h1 class="jumbotron-heading title charity">Run for a Charity!</h1>
      <div class="c-d-btn-wrapper">
        <button class="btn btn-warning charity-btn"><%= link_to "Make a Donation", new_donation_path %></button>
      </div>
    </div>
      <div class="black"></div>
  </section>



<div class="container charity-card">
  <div class="row">

    <% @funds.each do |fund| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm c-card">
        <div class="card-img-wrapper">
          <img src="<%= fund.img_link %>" alt="">
        </div>
        <div class="c-card-info">
          <span class="card-name">
            <%= link_to "#{fund.name}", charity_path %>
          </span>
          <span class="block-with-text multiline-ellipsis"><%= fund.description %></span>
        </div>
      </div>
    </div>


      <% end %>



  </div>
</div>
